<!DOCTYPE html>
<html>
<head>
    <title> Produtos </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen">

    <link href="../static/css/pim.css"
          th:href="@{/css/pim.css}"
          rel="stylesheet" media="screen">
</head>

<body>
<h1> Olá Unip</h1>
<h3> Essa será a página de produtos do pim 2020</h3>

<a href="#" th:href="@{/}">Voltar para a home</a>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="produto: ${produtos}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>

        </tr>
    </tbody>
</table>
</body>
</html>