<!DOCTYPE html>
<html>
<head>
    <title> Usuários </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen">

    <link href="../static/css/pim.css"
          th:href="@{/css/pim.css}"
          rel="stylesheet" media="screen">
</head>

<body>
<h1> Olá Unip</h1>
<h3> Essa será a página de usuários do pim 2020</h3>

<a href="#" th:href="@{/}">Voltar para a home</a>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Perfil</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario: ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nome}"></td>
        <td th:text="${usuario.perfil}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>